@charset "UTF-8";

.flex-pai {
    background-color: red;
    height: 250px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.flex-pai div {
    flex-grow: 1;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 30px;
    text-align: center;
}