@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body{
    background-image: linear-gradient(to right, #D90479, #8C0343);
}

main{
    background-color: #A6837B;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #40011895;
    width: 700px;
    padding: 20px;
    margin: auto;
}

h1{
    color: #261514;
    text-align: center;
    text-shadow: 1px 1px 0px #261514bd;
}

h2{
    color: #261514;
}

p{
    text-align: justify;
}